.header{
    height: 60px;
    background-color: #E8E2E2;
    color:#3E4095;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .header-content{
        width: 25%;
        display:  flex;
        justify-content: space-around;
        align-items: center;
        font-size: 25px;
        .search{
            padding: 10px;
            width: "30%";
            font-size: "22px";
            border-radius: 25px;
            border-color: #3E4095;
        }
    }
}